version: '3'
services:
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant-portfolio
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_data:/qdrant/storage
    restart: always
